#playButton  {
    &:hover {
        fill:white;
    }

    &:active {
        fill:#3cddf7;
    }
    
}

#stopButton {
    margin-left: 5px;
    &:hover {
       fill:white;
    }
}

.playerButtons {
    padding-top: 5px;
    padding-left: 0px;
    background: transparent;
    border: none;
    &:focus {
        outline: 0;
    }

}