.consoleTitle {
    background: black;
    font-size: 12px;
    color: white;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.consoleOutput {
    list-style: none;
    font-size:13px;
    text-indent: -25px;
}

#stdout {
    color: white;
}

#stderr {
    color: red;
}


