ul {
    padding: 10px;
    margin: 20px;
    background-color: rgba(255,255,255,.1);
}

.consoleTitle {
    background: black;
    font-size: 12px;
    color: white;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .trashIcon {
        text-align: right;
        stroke: white;
        padding-right: 15px;
        background: transparent;
        border: none;
        &:focus {
            outline: 0;
        }
    }
}

.consoleOutput {
    list-style: none;
    font-size: 10px;
    color: gray;
}

#stdout {
    color: white;
}

#stderr {
    color: red;
}