$backgroundGray: #282828;
$mainLeftMargin:16px;
$leftColumn:216px;

body {
  background-color: $backgroundGray;
  margin:0px;
}

.dashboard {
    height:50px;
    background-color:teal;
}

.leftColumn {
    float:left;
    width:30%;
}
#weioLogo {
    margin-left:$mainLeftMargin;
    margin-top:16px;
}

