div,
p,
aside,
header,
main,
section,
article {
    box-sizing: border-box;
    position: relative;
}

button {
    cursor: pointer;
}

html {
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #878787;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: gray;
    overflow-y: scroll;
}

app-root {
    display: block;
    width: 100%;
    align-items: stretch;
    align-content: stretch;
    flex-flow: column;
}

header {
    z-index: 0;
    display: flex;
    background-color: #282828;
    .logo {
        margin: 10px 0 13px 16px;
    }
    aside {
        width: 20%;
    }
}

main {
    z-index: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    margin: auto;
    height: 100vh;
    align-content: stretch;
    aside {
        width: 20%;
        padding: 20px;
        background-color: #282828;
        ul {
            padding: 0;
            margin: 0;
            ul {
                padding-left: 40px;
            }
            li {
                list-style: none;
                cursor: pointer;
                margin-bottom: 10px;
                opacity: .8;
                transition: opacity 0.6s ease;
                font-size: 1.3rem;
                color: #878787;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    section {
        width: 60%;
        min-height: 100%;
        height: 800px;
        overflow: hidden;
        &.on-right {
            width: 20%;
            padding: 0px;
            background-color: #282828;
        }
        ace-editor {
            min-height: 100%;
        }
        p {
            padding: 0;
            margin: 0;
            min-height: 100%;
            display: flex;
        }
    }
}

app-status-monitor {
    display: flex;
}

app-modal {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;

    &.hidden{
        display: none;
    }

    .modal-container {
        background-color: rgba(255, 255, 255, 1);
        max-width: 400px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        border-radius: 2px;
        .close-btn {
            content: ' ';
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background-color: #000;
            text-align: center center;
            color: #fff;
            transform: translate3d(50%, -50%, 0);
            border-radius: 20px;
            cursor: pointer;
            font-size: 1.6rem;
        }
    }
}